.alarmTopRow{
    color:white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}
.alarmBottomRow{
    color:white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}