.alarmTopRow{
    color:rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
.alarmBottomRow{
    color:rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .orange {
    background-color: orange;
  }