.Toptext {
    font-size: 14px;
    font-weight: 200;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: start;
}

.Header {
    border-radius: 8px;
    margin: 20px 20px 0px 20px;
    padding: 0px 0px 0px 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 40px !important; 
    width: calc(100% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
